# Configuration file

conduit {

    energy {
        # The maximum IO for the cobble endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 20]
        I:tier1=2097152

        # The maximum IO for the pink slime endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 81920]
        I:tier10=524288

        # The maximum IO for the melodic endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 327680]
        I:tier12=8388608

        # The maximum IO for the stellar endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 2000000000]
        I:tier13=134217728

        # The maximum IO for the iron endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 40]
        I:tier2=32768

        # The maximum IO for the aluminium endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 80]
        I:tier3=128

        # The maximum IO for the gold endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 160]
        I:tier4=160

        # The maximum IO for the copper endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 320]
        I:tier5=524288

        # The maximum IO for the silver endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 1280]
        I:tier6=2048

        # The maximum IO for the electrum endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 2560]
        I:tier7=131072

        # The maximum IO for the energetic silver endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 10240]
        I:tier8=10240

        # The maximum IO for the crystalline endergy conduit. (synced from server) [range: 1 ~ 2000000000, default: 40960]
        I:tier9=131072
    }

}


