# Configuration file

hookPrototype {
    # Defines interation with non-playable characters. [default: true]
    B:affectsNPCs=true

    # Defines interation with players. [default: true]
    B:affectsPlayers=true

    # If true, you can hook any block regardless of its material and hardness. [default: false]
    B:canHookAnyBlock=false

    # Defines how much damage it will deal to entity on hit. [range: 0.0 ~ 100.0, default: 0.0]
    S:damage=0.0

    # Set to 'false' if you don't need this unit. [default: true]
    B:enabled=true

    # Defines how long it can be under fire influence (in seconds). [range: 0.0 ~ 60.0, default: 0.0]
    S:resistance=0.0

    # Defines how heavy duty it can withstand. [range: 0.0 ~ 20.0, default: 0.0]
    S:strength=0.0
}


