# Configuration file

~CONFIG_VERSION: 1

##########################################################################################################
# common
#--------------------------------------------------------------------------------------------------------#
# Settings applied to all facades.
# 
# By default full blocks with no tile entity and a model do not need whitelisting.
# This will only be read once during client startup.
##########################################################################################################

common {
    # Unsupported: Allows whitelisting TileEntity as facades. Could work, have render issues, or corrupt your world. USE AT YOUR OWN RISK.
    B:allowTileEntityFacades=false
}


##########################################################################################################
# facades
#--------------------------------------------------------------------------------------------------------#
# A way to explicitly handle certain blocks as facades.
# 
# Blocks can be added by their resource location under the following rules.
#  - One category per domain like minecraft or appliedenergistics2
#  - One key per id. E.g. glass in case of minecraft:glass
#  - An integer value ranging from 0 to 16 representing the metadata 0-15 and 16 as wildcard for all - Multiple entries for the same id but different metadata are possible when needed
##########################################################################################################

facades {

    minecraft {
        I:glass=16
        I:stained_glass=16
    }

    appliedenergistics2 {
        I:quartz_glass=16
        I:quartz_vibrant_glass=16
    }

}


