# Configuration file

attributes {
    # The maximum amount for the Armor attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 65536.0]
    S:maxArmor=65536.0

    # The maximum amount for the ArmorToughness attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 65536.0]
    S:maxArmorToughness=65536.0

    # The maximum amount for the AttackDamage attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 65536.0]
    S:maxAttackDamage=65536.0

    # The maximum amount for the AttackSpeed attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 65536.0]
    S:maxAttackSpeed=65536.0

    # The maximum amount for the FlyingSpeed attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 65536.0]
    S:maxFlyingSpeed=65536.0

    # The maximum amount for the FollowRange attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 65536.0]
    S:maxFollowRange=65536.0

    # The maximum amount for the KnockbackResistance attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 65536.0]
    S:maxKnockbackResistance=65536.0

    # The maximum amount for the Luck attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 65536.0]
    S:maxLuck=65536.0

    # The maximum amount for the MaxHealth attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 65536.0]
    S:maxMaxHealth=65536.0

    # The maximum amount for the MovementSpeed attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 65536.0]
    S:maxMovementSpeed=65536.0

    # The minimum amount for the Armor attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 0.0]
    S:minArmor=0.0

    # The minimum amount for the ArmorToughness attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 0.0]
    S:minArmorToughness=0.0

    # The minimum amount for the AttackDamage attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 0.0]
    S:minAttackDamage=0.0

    # The minimum amount for the AttackSpeed attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 0.0]
    S:minAttackSpeed=0.0

    # The minimum amount for the FlyingSpeed attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 0.0]
    S:minFlyingSpeed=0.0

    # The minimum amount for the FollowRange attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 0.0]
    S:minFollowRange=0.0

    # The minimum amount for the KnockbackResistance attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 0.0]
    S:minKnockbackResistance=0.0

    # The minimum amount for the Luck attribute. [range: 1.4E-45 ~ 3.4028235E38, default: -1024.0]
    S:minLuck=-1024.0

    # The minimum amount for the MaxHealth attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 1.4E-45]
    S:minMaxHealth=1.4E-45

    # The minimum amount for the MovementSpeed attribute. [range: 1.4E-45 ~ 3.4028235E38, default: 0.0]
    S:minMovementSpeed=0.0
}


