# Configuration file

client {
    B:"Quest Notices"=true
}


general {
    # If true, then when you click on Claim all, a warning dialog will be displayed [default: true]
    B:"Claim all requires confirmation"=true

    # The default visibility value used when creating quests [default: NORMAL]
    S:"Default Quest Visibility"=NORMAL
    B:"Experimental Dirty Mode"=true
    B:"Hide Updates"=false

    # If true, locks the quest chapter list and opens it initially [default: false]
    B:"Lock Tray"=false

    # Clamps the max UI height (-1 to disable) [range: -1 ~ 2147483647, default: -1]
    I:"Max GUI Height"=-1

    # Clamps the max UI width (-1 to disable) [range: -1 ~ 2147483647, default: -1]
    I:"Max GUI Width"=-1

    # Enabled the popup notices when quests are completed or updated [default: true]
    B:"Quest Notices"=true

    # Increases or decreases the scrolling speed [range: 0.0 ~ 10.0, default: 1.0]
    S:"Scroll Speed Multiplier"=1.0

    # If true, skip the home GUI and open quests at startup. This property will be changed by the mod itself. [default: false]
    B:"Skip Home"=false

    # If true, then the player will spawn with a Quest Book when they first join the world [default: true]
    B:"Spawn with Quest Book"=true

    # The current questing theme [default: betterquesting:light]
    S:Theme=bq_standard:dark

    # Jumps the user to the last opened quest [default: true]
    B:"Use Quest Bookmark"=true

    # If view mode enabled, User can view all quests [default: false]
    B:"View mode"=false

    # Zoom in on cursor. If false, zooms in on center of screen. [default: true]
    B:"Zoom In on Cursor"=true

    # Zoom out on cursor. If false, zooms out on center of screen. [default: true]
    B:"Zoom Out on Cursor"=true

    # Zoom smoothness in ms [range: 0.0 ~ 2000.0, default: 100.0]
    S:"Zoom Smoothness"=100.0

    # Zoom Speed [range: 1.05 ~ 3.0, default: 1.25]
    S:"Zoom Speed"=1.25
}


