# Configuration file

##########################################################################################################
# oredict
#--------------------------------------------------------------------------------------------------------#
# WARNIG: Changing these config options may break recipes in mods that use Bookshelf.
##########################################################################################################

oredict {
    # Should vanilla arrows be ore dicted? [default: true]
    B:arrows=true

    # Should vanilla fences and fence gates be ore dicted? [default: true]
    B:fence=true

    # Should misc blocks like magma blocks and bone blocks be put in the ore dict? [default: true]
    B:misc=true

    # Should vanilla rails be ore dicted? [default: true]
    B:rails=true

    # Should vanilla seeds be ore dicted? [default: true]
    B:seeds=true

    # Should vanilla shulker boxes be ore dicted? [default: true]
    B:shulker=true
}


##########################################################################################################
# translations
#--------------------------------------------------------------------------------------------------------#
# Adds support for additional levels. Lowering this can improve memory.
##########################################################################################################

translations {
    # The amount of enchantment levels to translate. 10 or less will disable this. [range: 0 ~ 32767, default: 256]
    I:enchantmentCount=256
}


