# Configuration file

general {
    S:circuitsUsing=

    # Constrain input/output of batteries to input/output capability of energy converters.
    B:constrainBattery=false

    # True if you want CEU & CEF to accept batteries with same voltage as CEU/CEF's. False if you want CEU & CEF to accept any tier of batteries.
    B:exactVoltage=false

    ceu {

        ulv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=true
        }

        lv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        mv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        hv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        ev {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        iv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        luv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        zpm {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        uv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=false
        }

        max {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:4
            B:disable=true
        }

    }

    cef {

        ulv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

        lv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=false
        }

        mv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=false
        }

        hv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=false
        }

        ev {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=false
        }

        iv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=false
        }

        luv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=false
        }

        zpm {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=false
        }

        uv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=false
        }

        max {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=4:1
            B:disable=true
        }

    }

    iceu {

        lv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        mv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        hv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        ev {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        iv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

    }

    icef {

        lv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        mv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        hv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        ev {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

        iv {
            # Conversion ratio between two energy units (INPUT:OUTPUT)
            S:conversionRatio=1:1
            B:disable=true
        }

    }

    infinite_energy_emitter {
        B:disableFEEmitter=false
        B:disableGTEUEmitter=false
        B:disableIC2EUEmitter=true
    }

    infinite_energy_receiver {
        B:disableFEReceiver=false
        B:disableGTEUReceiver=false
        B:disableIC2EUReceiver=true
    }

}


