# Configuration file

##########################################################################################################
# data model mob names
#--------------------------------------------------------------------------------------------------------#
# Register entities that count towards leveling up the model
# Format is modname:entity_name
##########################################################################################################

"data model mob names" {
    # Blaze
    S:blaze <
        minecraft:blaze
     >

    # Creeper
    S:creeper <
        minecraft:creeper
     >

    # Dragon
    S:dragon <
        minecraft:ender_dragon
     >

    # Enderman
    S:enderman <
        minecraft:enderman
        deepmoblearning:trial_enderman
     >

    # Ghast
    S:ghast <
        minecraft:ghast
     >

    # Guardian
    S:guardian <
        minecraft:elder_guardian
        minecraft:guardian
     >

    # Shulker
    S:shulker <
        minecraft:shulker
     >

    # Creeper
    S:skeleton <
        minecraft:stray
        minecraft:skeleton
        twilightforest:skeleton_druid
     >

    # Slime
    S:slime <
        minecraft:slime
        minecraft:magma_cube
        deepmoblearning:trial_slime
     >

    # Spider
    S:spider <
        minecraft:spider
        minecraft:cave_spider
        twilightforest:hedge_spider
        twilightforest:king_spider
        deepmoblearning:trial_spider
        deepmoblearning:trial_cave_spider
     >

    # Thermal Elemental
    S:thermalelemental <
        thermalfoundation:blizz
        thermalfoundation:blitz
        thermalfoundation:basalz
     >

    # Witch
    S:witch <
        minecraft:witch
     >

    # Wither
    S:wither <
        minecraft:wither
     >

    # Wither Skeleton
    S:witherskeleton <
        minecraft:wither_skeleton
     >

    # Zombie
    S:zombie <
        minecraft:husk
        minecraft:zombie
        minecraft:zombie_villager
        minecraft:zombie_pigman
     >
}


##########################################################################################################
# data model simulation costs
#--------------------------------------------------------------------------------------------------------#
# Simulation costs for all the data models (in RF/t)
# Cost should not exceed a full machine buffer (Max 6666 RF/t)
# Values over the max will be set to the max
##########################################################################################################

"data model simulation costs" {
    I:blaze=1024
    I:creeper=64
    I:dragon=6666
    I:enderman=2048
    I:ghast=1024
    I:guardian=1024
    I:shulker=512
    I:skeleton=64
    I:slime=64
    I:spider=64
    I:thermalelemental=1024
    I:witch=512
    I:wither=6666
    I:witherskeleton=1024
    I:zombie=64
}


general {
    # Horizontal spacing from the selected corner, values can be both positive and negative
    I:guiOverlayHorizontalSpacing=0

    # Which position on the screen the Deep learner gui will appear on. (bottomleft will clash with the chat) [values: topleft/topright/bottomleft/bottomright]
    S:guiOverlaySide=bottomright

    # Vertical spacing from the selected corner, values can be both positive and negative
    I:guiOverlayVerticalSpacing=0

    # Set to false to disable the creative flight portion of the Glitch armorset.
    B:isGlitchArmorCreativeFlightEnabled=true

    # Enable the Crafting of sooted redstone on Vanilla blocks of coal
    B:isSootedRedstoneCraftingEnabled=false

    # RF/t cost for the Loot Fabricator, roof is 18k RF/t
    I:rfCostLootFabricator=1000
}


##########################################################################################################
# matter experience
#--------------------------------------------------------------------------------------------------------#
# Experience values for the different "realm" matters, maxValue: 999
##########################################################################################################

"matter experience" {
    I:extraterrestrial=25
    I:hellish=20
    I:overworldian=10
}


##########################################################################################################
# model experience tweaks
#--------------------------------------------------------------------------------------------------------#
# DISCLAIMER: Please tweak these values responsibly if you're building modpacks for the public, This mods intent is not to be grindy or "timegated"
# Remember that a high kill multiplier devalues how much you can use the simulation chamber for leveling
# For example, a killmultiplier of 100 and 2 required kills to next tier is the equivalent of 200 simulations
# Data formula: killmultiplier * requiredKills
# Max multiplier: 100
# Max kills to next tier: 500
##########################################################################################################

"model experience tweaks" {
    # How much data you get per kill on the Faulty tier (It's Best to leave this at 1, as a baseline)
    I:killMultiplierTier0=1

    # How much data you get per kill on the Basic tier
    I:killMultiplierTier1=1

    # How much data you get per kill on the Advanced tier
    I:killMultiplierTier2=1

    # How much data you get per kill on the Superior tier
    I:killMultiplierTier3=1

    # Number of kills to reach the Basic tier.
    I:killsToTier1=0

    # Number of kills to reach the Advanced tier.
    I:killsToTier2=50

    # Number of kills to reach the Superior tier.
    I:killsToTier3=250

    # Number of kills to reach the Self Aware tier.
    I:killsToTier4=500
}


##########################################################################################################
# pristine matter chance
#--------------------------------------------------------------------------------------------------------#
# The chance to output pristine matter from the various tiers
# Starts at basic since faulty models can't be used in the simulation chamber
##########################################################################################################

"pristine matter chance" {
    I:tier1=5
    I:tier2=10
    I:tier3=20
    I:tier4=30
}


##########################################################################################################
# pristine output items
#--------------------------------------------------------------------------------------------------------#
# Entries for Loot fabricator outputs from the different pristine items.
# Input format "minecraft:coal,64,0"
# Where minecraft:coal is the registryName, 64 is the amount and 0 is the damagevalue/meta. "," is the delimiter.
# Optionally supports NBT tags, example:
# deepmoblearning:glitch_infused_sword,1,0,{display:{Name:"Not a sword really"}}
##########################################################################################################

"pristine output items" {
    # Blaze
    S:blaze <
        minecraft:blaze_rod,10,0
        gregtech:meta_item_1,32,2065
        minecraft:magma,32,0
     >

    # Creeper
    S:creeper <
        minecraft:gunpowder,32,0
        minecraft:coal,32,0
        minecraft:skull,6,4
     >

    # Dragon
    S:dragon <
        armorplus:material,1,3
        minecraft:dragon_breath,1,0
        contenttweaker:dragonlairdata,1,0
     >

    # Enderman
    S:enderman <
        minecraft:ender_pearl,6,0
        minecraft:emerald,6,0
        enderio:block_enderman_skull,2,0
        contenttweaker:impossiblerealmdata,1,0
     >

    # Ghast
    S:ghast <
        minecraft:ghast_tear,2,0
        gregtech:meta_item_1,12,10062
     >

    # Guardian
    S:guardian <
        minecraft:prismarine_shard,32,0
        minecraft:prismarine_crystals,32,0
        minecraft:fish,64,0
        minecraft:gold_ingot,8,0
        gregtech:meta_item_1,12,2001
        armorplus:material,4,1
     >

    # Shulker
    S:shulker <
        minecraft:shulker_shell,6,0
        minecraft:diamond,6,0
     >

    # Skeleton
    S:skeleton <
        minecraft:bone,64,0
        minecraft:arrow,64,0
        minecraft:skull,6,0
        gregtech:meta_item_1,8,10071
     >

    # Slime
    S:slime <
        minecraft:slime_ball,32,0
        thermalfoundation:coin,8,64
        thermalfoundation:coin,6,66
        thermalfoundation:coin,4,69
        thermalfoundation:coin,2,1
        thermalfoundation:coin,1,70
     >

    # Spider
    S:spider <
        minecraft:spider_eye,8,0
        minecraft:string,32,0
        gregtech:meta_item_1,12,10018
     >

    # Thermal Elemental
    S:thermalelemental <
        gregtech:meta_item_1,16,2156
        gregtech:meta_item_1,16,2138
        minecraft:snowball,64,0
        thermalfoundation:material,8,2050
        thermalfoundation:material,8,2052
        thermalfoundation:material,8,2048
     >

    # Witch
    S:witch <
        minecraft:redstone,16,0
        minecraft:glowstone_dust,16,0
        minecraft:sugar,16,0
     >

    # Wither
    S:wither <
        armorplus:material,1,2
        extrautils2:ingredients,1,10
        contenttweaker:witherrealmdata,1,0
     >

    # Wither Skeleton
    S:witherskeleton <
        minecraft:skull,4,1
        gregtech:meta_item_1,12,10035
     >

    # Zombie
    S:zombie <
        minecraft:rotten_flesh,64,0
        minecraft:iron_ingot,12,0
        minecraft:carrot,32,0
        minecraft:potato,32,0
        minecraft:skull,6,2
     >
}


##########################################################################################################
# trial max tier rewards
#--------------------------------------------------------------------------------------------------------#
# Rewards for the Max tier of trials.
# CAUTION: Max 3 items per list, anything after that will be trimmed. 
# Input format "minecraft:coal,64,0"
# Where minecraft:coal is the registryName, 64 is the amount and 0 is the damagevalue/meta. "," is the delimiter.
# Optionally supports NBT tags, example:
# deepmoblearning:glitch_infused_sword,1,0,{display:{Name:"Not a sword really"}}
##########################################################################################################

"trial max tier rewards" {
    # Enderman Trial Reward
    S:enderman <
        deepmoblearning:glitch_heart,5,0
     >

    # Skeleton Trial Reward
    S:skeleton <
        deepmoblearning:glitch_heart,3,0
     >

    # Slime Trial Reward
    S:slime <
        deepmoblearning:glitch_heart,3,0
     >

    # Spider Trial Reward
    S:spider <
        deepmoblearning:glitch_heart,4,0
     >

    # Witch Trial Reward
    S:witch <
        deepmoblearning:glitch_heart,6,0
     >

    # Slime Trial Reward
    S:witherskeleton <
        deepmoblearning:glitch_heart,5,0
     >

    # Zombie Trial Reward
    S:zombie <
        deepmoblearning:glitch_heart,3,0
     >
}


