# Configuration file

##########################################################################################################
#  general
#--------------------------------------------------------------------------------------------------------#
# General configuration
##########################################################################################################

" general" {
    # Set to false to disable BaseMetals Dense ores [default: true]
    B:enableBaseMetalsDenseOres=true

    # Set to false to disable Nether Metals Dense ores [default: true]
    B:enableNetherMetalsDenseOres=true

    # Set to false to disable Vanilla Dense ores [default: true]
    B:enableVanillaDenseOres=true
}


##########################################################################################################
#  world generator
#--------------------------------------------------------------------------------------------------------#
# World Generator configuration
##########################################################################################################

" world generator" {
    # Set to false to disable the use of the world generator included with this mod [default: false]
    B:enableInternalWorldGen=false

    # Set to true to enable the use of MMD OreSpawn for world generation [default: true]
    B:enableOreSpawnIntregration=false
}


##########################################################################################################
# vanilla dense ores
#--------------------------------------------------------------------------------------------------------#
# Vanilla Dense Ores configuration
##########################################################################################################

"vanilla dense ores" {
    # Set to false to disable Coal Dense Ore [default: true]
    B:enableDenseCoalOre=true

    # Set to false to disable Diamond Dense Ore [default: true]
    B:enableDenseDiamondOre=true

    # Set to false to disable Emerald Dense Ore [default: true]
    B:enableDenseEmeraldOre=true

    # Set to false to disable Gold Dense Ore [default: true]
    B:enableDenseGoldOre=true

    # Set to false to disable Iron Dense Ore [default: true]
    B:enableDenseIronOre=true

    # Set to false to disable Lapis Dense Ore [default: true]
    B:enableDenseLapisOre=true

    # Set to false to disable Redstone Dense Ore [default: true]
    B:enableDenseRedstoneOre=true
}


