# Configuration file

dimensionaledibles {

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # The Category for general features of the mod
    ##########################################################################################################

    general {
        # Set to true to enable Custom Apple.
        B:customApple=false

        # Set to true to enable custom Cakes.
        B:customCake=true

        # Set to true to enable End Cake.
        B:endCake=true

        # Set to true to enable Ender Apple.
        B:enderApple=false

        # Set to true to enable Island Cakes.
        B:islandCake=true

        # Set to true to enable Nether Apple.
        B:netherApple=false

        # Set to true to enable Nether Cake.
        B:netherCake=true

        # Required operator level to invalidate stored cake spawning position
        # Min: 1
        # Max: 4
        I:operatorInvalidationLevel=1

        # Set to true to enable Overworld Apple.
        B:overworldApple=false

        # Set to true to enable Overworld Cake.
        B:overworldCake=true
    }

    ##########################################################################################################
    # tweaks
    #--------------------------------------------------------------------------------------------------------#
    # The category for tweaking behaviors of mod features
    ##########################################################################################################

    tweaks {
        # Set to true to disable the activation of vanilla End Portal.
        B:disableVanillaEndPortal=true

        ##########################################################################################################
        # endcake
        #--------------------------------------------------------------------------------------------------------#
        # The category for dealing with the End Cake
        ##########################################################################################################

        endcake {
            # Set to true to make the End Cake consume fuel.
            B:consumeFuel=true

            # Set the fuel used by End Cake (Don't change this unless you know what you're doing).
            S:fuel=minecraft:ender_eye

            # Set to true to make the End Cake pre-fueled upon placed.
            B:preFueled=true

            # Set to true to use custom coordinates for the teleportation.
            B:useCustomCoords=false

            ##########################################################################################################
            # customcoords
            #--------------------------------------------------------------------------------------------------------#
            # Define the custom spawn coordinates
            ##########################################################################################################

            customcoords {
                # The X spawn coordinate
                D:x=0.0

                # The Y spawn coordinate
                # Min: 0.0
                # Max: 255.0
                D:y=64.0

                # The Z spawn coordinate
                D:z=0.0
            }

        }

        ##########################################################################################################
        # enderapple
        #--------------------------------------------------------------------------------------------------------#
        # The category for dealing with the End Apple
        ##########################################################################################################

        enderapple {
            # Set to true to use custom coordinates for the teleportation.
            B:useCustomCoords=false

            ##########################################################################################################
            # customcoords
            #--------------------------------------------------------------------------------------------------------#
            # Define the custom spawn coordinates
            ##########################################################################################################

            customcoords {
                # The X spawn coordinate
                D:x=0.0

                # The Y spawn coordinate
                # Min: 0.0
                # Max: 255.0
                D:y=64.0

                # The Z spawn coordinate
                D:z=0.0
            }

        }

        ##########################################################################################################
        # nethercake
        #--------------------------------------------------------------------------------------------------------#
        # The category for dealing with the Nether Cake
        ##########################################################################################################

        nethercake {
            # Set to true to make the Nether Cake consume fuel.
            B:consumeFuel=true

            # Set the fuel used by Nether Cake (Don't change this unless you know what you're doing).
            S:fuel=minecraft:obsidian

            # Set to true to make the Nether Cake pre-fueled upon placed.
            B:preFueled=true

            # Set to true to use custom coordinates for the teleportation.
            B:useCustomCoords=false

            ##########################################################################################################
            # customcoords
            #--------------------------------------------------------------------------------------------------------#
            # Define the custom spawn coordinates
            ##########################################################################################################

            customcoords {
                # The X spawn coordinate
                D:x=0.0

                # The Y spawn coordinate
                # Min: 0.0
                # Max: 255.0
                D:y=64.0

                # The Z spawn coordinate
                D:z=0.0
            }

        }

        ##########################################################################################################
        # netherapple
        #--------------------------------------------------------------------------------------------------------#
        # The category for dealing with the Nether Apple
        ##########################################################################################################

        netherapple {
            # Set to true to use custom coordinates for the teleportation.
            B:useCustomCoords=false

            ##########################################################################################################
            # customcoords
            #--------------------------------------------------------------------------------------------------------#
            # Define the custom spawn coordinates
            ##########################################################################################################

            customcoords {
                # The X spawn coordinate
                D:x=0.0

                # The Y spawn coordinate
                # Min: 0.0
                # Max: 255.0
                D:y=64.0

                # The Z spawn coordinate
                D:z=0.0
            }

        }

        ##########################################################################################################
        # overworldcake
        #--------------------------------------------------------------------------------------------------------#
        # The category dealing with the Overworld Cake
        ##########################################################################################################

        overworldcake {
            # Set to true to make the Overworld Cake consume fuel.
            B:consumeFuel=true

            # Set the fuel used by Overworld Cake (Don't change this unless you know what you're doing).
            S:fuel=minecraft:sapling

            # Set to true to make the Overworld Cake pre-fueled upon placed.
            B:preFueled=true

            # Set to true to use custom coordinates for the teleportation.
            B:useCustomCoords=false

            # Set to true to make the Overworld Cake teleport players to world spawn.
            # Otherwise, it will use the cached position.
            B:useWorldSpawn=false

            ##########################################################################################################
            # customcoords
            #--------------------------------------------------------------------------------------------------------#
            # Define the custom spawn coordinates
            ##########################################################################################################

            customcoords {
                # The X spawn coordinate
                D:x=0.0

                # The Y spawn coordinate
                # Min: 0.0
                # Max: 255.0
                D:y=64.0

                # The Z spawn coordinate
                D:z=0.0
            }

        }

        ##########################################################################################################
        # overworldapple
        #--------------------------------------------------------------------------------------------------------#
        # The category for dealing with the Overworld Apple
        ##########################################################################################################

        overworldapple {
            # Set to true to use custom coordinates for the teleportation.
            B:useCustomCoords=false

            # Set to true to make the Overworld Apple teleport players to world spawn.
            # Otherwise, it will use the cached position.
            B:useWorldSpawn=false

            ##########################################################################################################
            # customcoords
            #--------------------------------------------------------------------------------------------------------#
            # Define the custom spawn coordinates
            ##########################################################################################################

            customcoords {
                # The X spawn coordinate
                D:x=0.0

                # The Y spawn coordinate
                # Min: 0.0
                # Max: 255.0
                D:y=64.0

                # The Z spawn coordinate
                D:z=0.0
            }

        }

        ##########################################################################################################
        # customedible
        #--------------------------------------------------------------------------------------------------------#
        # The category for defining and modifying a Custom Cake
        ##########################################################################################################

        customedible {
            # Set a list of custom coordinates used by Custom Cakes / Apples, this is optional.
            # Format: <Dimension ID>, <X>, <Y>, <Z>
            # Example: 0, 420, 123, -420
            S:customCoords <
                119, 2, 80, 2
             >

            # Set a list of dimensions to add cakes / apples for.
            # Format: <Dimension ID>, <Cake / Apple Name>
            # Example: 0, Overworld
            # Note: "Cake" is automatically appended onto the end of the name for cakes.
            S:dimensions <
                119, Void World
             >

            ##########################################################################################################
            # customcake
            #--------------------------------------------------------------------------------------------------------#
            # Customization of Custom Cake features
            ##########################################################################################################

            customcake {
                # Set to true to make all Custom Cakes consume fuel.
                B:consumeFuel=true

                # Set the fuel used by Custom Cakes.
                # Format: <Dimension ID>, <Fuel Registry Name>
                # Example: 0, minecraft:apple
                S:fuel <
                    119, contenttweaker:pulsatingdust
                 >

                # Set to true to make all Custom Cakes pre-fueled upon placed.
                B:preFueled=true
            }

        }

        ##########################################################################################################
        # islandcake
        #--------------------------------------------------------------------------------------------------------#
        # The category for dealing with the Island Cake
        ##########################################################################################################

        islandcake {
            # Allow players to create personal islands when on a FTB Team
            B:allowPersonalIslands=true

            # Set to true to make the Island Cake consume fuel.
            B:consumesFuel=false

            # Set the fuel used by Island Cake (Don't change this unless you know what you're doing).
            S:fuel=minecraft:cobblestone

            # The dimension islands will be created in (dimension has to already exist)
            I:islandDimension=119

            # The gap between two islands in regions
            # Min: 2
            # Max: 100
            I:islandGapRegions=10

            # The item that when used on an island cake turns it into a personal island cake
            S:personalLockingItem=minecraft:diamond

            # Set to true to make the Island Cake pre-fueled upon placed.
            B:preFueled=true

            # The Y-level that the Island Cake will teleport to
            # Min: 1
            # Max: 255
            I:yLevel=80
        }

    }

}


