# Configuration file

general {
    # Should LootTweaker warn about deprecated methods on world load? Resets if the version of LootTweaker is changed.
    B:deprecationWarnings=true

    # Do not touch!
    S:lastCfgVersion=0.1.5
}


