# Configuration file

general {
    # With this enabled, Power Flowers will not be affected by Watch of Flowing Time.
    B:blacklist_power_flower_from_watch=true

    # Max item that will be displayed.
    # 0 disables item exporting from links and makes refined ones useless.
    # Reduce this if you are having problems with auto-crafting or similar things.
    I:emc_link_max_out=2000000000

    # If set to false, it will only copy items with EMC value.
    B:final_star_copy_any_item=true

    # If set to false, it will remove item NBT.
    B:final_star_copy_nbt=false

    # Set to 0 to completely disable itemc copying.
    # Min: 0
    # Max: 2147483647
    I:final_star_update_interval=20

    # Overrides default EMC formatter from ProjectE with custom one.
    B:override_emc_formatter=true
    S:stone_table_whitelist <
        oredict:ingot
        oredict:gem
        oredict:dust
        oredict:nugget
        oredict:block
        oredict:ore
        oredict:stone
        oredict:cobblestone
        oredict:sand
        oredict:dirt
        oredict:gravel
        oredict:obsidian
        oredict:netherrack
        oredict:endstone
        minecraft:coal@*
        minecraft:flint
        minecraft:clay_ball
        oredict:dye
        oredict:string
        oredict:leather
        oredict:sugercane
        oredict:feather
        oredict:gunpowder
        minecraft:wheat_seeds
        oredict:logWood
        oredict:treeSapling
        oredict:blockGlassColorless
        oredict:enderpearl
        minecraft:blaze_rod
        minecraft:ghast_tear
     >
}


items {
    B:arcane_tablet=true
    B:clay_matter=false
    B:collectors=true
    B:final_star=true
    B:knowledge_sharing_book=true
    B:link=true
    B:power_flowers=true
    B:relays=true
    B:stars=true
    B:stone_table=true
    B:tome=true
}


tiers {

    basic {
        D:collector_output=4.0
        D:relay_bonus=1.0
        D:relay_transfer=64.0
    }

    dark {
        D:collector_output=12.0
        D:relay_bonus=3.0
        D:relay_transfer=192.0
    }

    red {
        D:collector_output=40.0
        D:relay_bonus=10.0
        D:relay_transfer=640.0
    }

    magenta {
        D:collector_output=160.0
        D:relay_bonus=40.0
        D:relay_transfer=2560.0
    }

    pink {
        D:collector_output=640.0
        D:relay_bonus=150.0
        D:relay_transfer=10240.0
    }

    purple {
        D:collector_output=2560.0
        D:relay_bonus=750.0
        D:relay_transfer=40960.0
    }

    violet {
        D:collector_output=10240.0
        D:relay_bonus=3750.0
        D:relay_transfer=163840.0
    }

    blue {
        D:collector_output=40960.0
        D:relay_bonus=15000.0
        D:relay_transfer=655360.0
    }

    cyan {
        D:collector_output=163840.0
        D:relay_bonus=60000.0
        D:relay_transfer=2621440.0
    }

    green {
        D:collector_output=655360.0
        D:relay_bonus=240000.0
        D:relay_transfer=1.048576E7
    }

    lime {
        D:collector_output=2621440.0
        D:relay_bonus=960000.0
        D:relay_transfer=4.194304E7
    }

    yellow {
        D:collector_output=1.048576E7
        D:relay_bonus=3840000.0
        D:relay_transfer=1.6777216E8
    }

    orange {
        D:collector_output=4.194304E7
        D:relay_bonus=1.536E7
        D:relay_transfer=6.7108864E8
    }

    white {
        D:collector_output=1.6777216E8
        D:relay_bonus=6.144E7
        D:relay_transfer=2.68435456E9
    }

    fading {
        D:collector_output=6.7108864E8
        D:relay_bonus=2.4576E8
        D:relay_transfer=1.073741824E10
    }

    final_tier {
        D:collector_output=1.0E12
        D:relay_bonus=1.0E12
        D:relay_transfer=1.7976931348623157E308
    }

}


