# Configuration file

general {

    debug {
        # For those who live life on the edge, may or may not include Jons
        B:"Bypass Incompatibility Warnings"=false

        # Enables debug logging
        B:"Debug Logging"=false

        # Prints the time the game needed to launch to the log
        B:"Show Loading Time"=true
    }

    "master switches" {
        # Enables the 'Bugfixes' module
        # Turn off to disable all bugfix tweaks
        B:"Master Switch: Bugfixes"=true

        # Enables the 'Mod Integration' module
        # Turn off to disable all mod integration tweaks
        B:"Master Switch: Mod Integration"=true

        # Enables the 'Tweaks' module
        # Turn off to disable all vanilla tweaks
        B:"Master Switch: Tweaks"=true
    }

}


