# Configuration file

cavegen {
    # Allow replacing more blocks with caves (useful for mods which completely overwrite world gen)
    B:allowReplaceMoreBlocks=true

    # Dimension IDs that will use Vanilla cave generation rather than Worley's Caves
    # Default:
    I:blackListedDims <
     >

    # Reduces number of caves at surface level, becoming more common until caves generate normally X number of blocks below the surface
    # Default: 15
    I:easeInDepth=15

    # Streches (when > 1.0) or compresses (when < 1.0) cave generation along X and Z axis
    # Default: 1.0
    D:horizonalCompressionMultiplier=1.0

    # Block to use when generating large lava lakes below lavaDepth (usually y=10)
    # Default: minecraft:lava
    S:lavaBlock=minecraft:lava

    # Air blocks at or below this y level will generate as lavaBlock
    # Default: 10
    I:lavaDepth=10

    # Caves will not attempt to generate above this y level. Range 1-256
    # Default: 128
    I:maxCaveHeight=128

    # Caves will not attempt to generate below this y level. Range 1-256
    # Default: 1
    I:minCaveHeight=1

    # Controls size of caves. Smaller values = larger caves. Between -1.0 and 1.0
    # Default: -0.18
    D:noiseCutoffValue=-0.18

    # Controls size of caves at the surface. Smaller values = more caves break through the surface. Between -1.0 and 1.0
    # Default: -0.081 (45% of noiseCutoffValue)
    D:surfaceCutoffValue=-0.081

    # Squishes caves on the Y axis. Lower values = taller caves and more steep drops
    # Default: 2.0
    D:verticalCompressionMultiplier=2.0

    # Controls how much to warp caves. Lower values = straighter caves
    # Default: 8.0
    D:warpAmplifier=8.0
}


