# Configuration file

lava_crystal {

    ##########################################################################################################
    # overworld
    #--------------------------------------------------------------------------------------------------------#
    # Configuration for the 'Overworld' dimension
    ##########################################################################################################

    overworld {
        # Enable/Disable the lava crystal world generation
        B:enable=false

        # Set the maximum y getExactRandPos level of the lava crystal world gen
        I:maxYSpawn=16

        # Set the minimum y getExactRandPos level of the lava crystal world gen
        I:minYSpawn=6

        # Set the rarity level of the lava crystal world gen
        I:rarity=10

        # Set the vein amount of the lava crystal world gen
        I:veinAmount=4
    }

    ##########################################################################################################
    # the_nether
    #--------------------------------------------------------------------------------------------------------#
    # Configuration for the 'The Nether' dimension
    ##########################################################################################################

    the_nether {
        # Enable/Disable the lava crystal world generation
        B:enable=true

        # Set the maximum y getExactRandPos level of the lava crystal world gen
        I:maxYSpawn=30

        # Set the minimum y getExactRandPos level of the lava crystal world gen
        I:minYSpawn=0

        # Set the rarity level of the lava crystal world gen
        I:rarity=5

        # Set the vein amount of the lava crystal world gen
        I:veinAmount=2
    }

    ##########################################################################################################
    # the_end
    #--------------------------------------------------------------------------------------------------------#
    # Configuration for the 'The End' dimension
    ##########################################################################################################

    the_end {
        # Enable/Disable the lava crystal world generation
        B:enable=false

        # Set the maximum y getExactRandPos level of the lava crystal world gen
        I:maxYSpawn=0

        # Set the minimum y getExactRandPos level of the lava crystal world gen
        I:minYSpawn=0

        # Set the rarity level of the lava crystal world gen
        I:rarity=0

        # Set the vein amount of the lava crystal world gen
        I:veinAmount=0
    }

}


tower {
    # Set the spawn chance need of the Tower Generation in the Overworld
    I:chanceNeededForSpawning=7000

    # Enable/Disable the Tower Generation
    B:enable=true

    # Enable/Disable the tower generation outside the overworld
    B:shouldOnlyGenerateInTheOverworld=true

    # Set the spawn chance of the Tower Generation in the Overworld
    I:spawnChance=1
}


