# Configuration file

Biome {
    # Biome identifier. [range: -2147483648 ~ 2147483647, default: 35]
    I:id=35
}


Config {
    # If set to False, parameters from this config will not be used. [default: false]
    B:enabled=false
}


Wind {
    # Defines probability of wind strength and direction change in percentage. [range: 0.0 ~ 100.0, default: 1.0]
    S:changeProbability=1.0

    # Defines how fast the wind changes. [range: 0.0 ~ 1.0, default: 0.15]
    S:changeStep=0.15

    # Defines maximum wind strength. [range: 0 ~ 30, default: 10]
    I:maxStrength=10
}


