# Configuration file

Fuels {

    ##########################################################################################################
    # Steam
    #--------------------------------------------------------------------------------------------------------#
    # You can adjust fuel values for the Steam Dynamo in this section. New fuels cannot be added at this time.
    ##########################################################################################################

    Steam {
        I:charcoal=32000
        I:coal=48000
        I:coke=64000
    }

    ##########################################################################################################
    # Magmatic
    #--------------------------------------------------------------------------------------------------------#
    # You can add fuels to the Magmatic Dynamo in this section. Fluid names only, as they are registered in Minecraft.
    ##########################################################################################################

    Magmatic {
        I:lava=180000
        I:pyrotheum=2000000
    }

    ##########################################################################################################
    # Compression
    #--------------------------------------------------------------------------------------------------------#
    # You can add fuels to the Compression Dynamo in this section. Fluid names only, as they are registered in Minecraft.
    ##########################################################################################################

    Compression {
        I:oil_heavy=20000
        I:oil_medium=16000
        I:oil_medium=10000
        I:sulfuric_naphtha=80000
        I:naphtha=640000
    }

    ##########################################################################################################
    # Reactant
    #--------------------------------------------------------------------------------------------------------#
    # You can add fuels to the Reactant Dynamo in this section. Fluid names only, as they are registered in Minecraft.
    ##########################################################################################################

    Reactant {
        I:aerotheum=1250000
        I:biomass=450000
        I:creosote=250000
        I:glowstone=600000
        I:mobessence=500000
        I:redstone=500000
        I:seedoil=250000
        I:sewage=24000
        I:sludge=24000
    }

    ##########################################################################################################
    # Enervation
    #--------------------------------------------------------------------------------------------------------#
    # You can adjust fuel values for the Enervation Dynamo in this section. New fuels cannot be added at this time.
    ##########################################################################################################

    Enervation {
        I:redstone=64000
    }

}


