# Configuration file

Blacklist {
    # List of entities that are not allowed to be placed in Morbs. Mobs without spawn eggs are automatically disallowed. [default: ]
    S:Blacklist <
     >
}


General {
    # If TRUE, the recipes for Morbs are enabled. Setting this to FALSE means that you actively dislike fun things and/or Pokemon tributes. [default: true]
    B:EnableRecipe=false

    Version {
        S:Identifier=5.5.2
    }

}


Version {
    S:Identifier=5.5.7
}


