# Configuration file

display {

    energy {
        # Available options: 'FE', 'IC2_EU', 'GT_EU' - Default: FE - Set this to one of those 3 types to have GUI, recipe preview and energy be displayed in that type of energy in ALL ModularMachinery things. [default: FE]
        S:Display_Energy_Type=FE

        # Set to true, if the standard 'energy' FE (or RF) should be displayed in the tooltip of the energy hatch along with its transmission rates. [default: true]
        B:FE_RF_Tooltip=true

        # Set to true, if GT's energy EU should be displayed in the tooltip of the energy hatch. Will only have effect if GregTech (community edition) is installed. [default: true]
        B:GT_EU_Tooltip=true

        # Set to true, if IC2's energy EU should be displayed in the tooltip of the energy hatch. Will only have effect if IC2 is installed. [default: true]
        B:IC2_EU_Tooltip=true
    }

}


energyhatch {

    tiny {
        I:limit=128
        I:size=2048
        I:tier=1
    }

    small {
        I:limit=512
        I:size=4096
        I:tier=2
    }

    normal {
        I:limit=512
        I:size=8192
        I:tier=2
    }

    reinforced {
        I:limit=2048
        I:size=16384
        I:tier=3
    }

    big {
        I:limit=8192
        I:size=32768
        I:tier=4
    }

    huge {
        I:limit=32768
        I:size=131072
        I:tier=5
    }

    ludicrous {
        I:limit=131072
        I:size=524288
        I:tier=6
    }

    ultimate {
        I:limit=131072
        I:size=2097152
        I:tier=7
    }

    size {
        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 32768]
        S:BIG=6553600

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 131072]
        S:HUGE=26214400

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 524288]
        S:LUDICROUS=104857600

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 8192]
        S:NORMAL=409600

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 16384]
        S:REINFORCED=1638400

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 4096]
        S:SMALL=102400

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 2048]
        S:TINY=25600

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 2097152]
        S:ULTIMATE=419430400
    }

    limit {
        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 32768]
        S:BIG=65536

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 131072]
        S:HUGE=262144

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 524288]
        S:LUDICROUS=1048576

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 8192]
        S:NORMAL=4096

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 16384]
        S:REINFORCED=16384

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 4096]
        S:SMALL=1024

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 2048]
        S:TINY=256

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 2097152]
        S:ULTIMATE=4194304
    }

    tier {
        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 4]
        I:BIG=5

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 5]
        I:HUGE=6

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 6]
        I:LUDICROUS=7

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 2]
        I:NORMAL=3

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 3]
        I:REINFORCED=4

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 2]
        I:SMALL=2

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 1]
        I:TINY=1

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 6]
        I:ULTIMATE=8
    }

    gtvoltage {
        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 4]
        I:BIG=5

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 5]
        I:HUGE=6

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 6]
        I:LUDICROUS=7

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 2]
        I:NORMAL=3

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 3]
        I:REINFORCED=4

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 2]
        I:SMALL=2

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 1]
        I:TINY=1

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 6]
        I:ULTIMATE=8
    }

    gtamperage {
        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:BIG=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:HUGE=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:LUDICROUS=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:NORMAL=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:REINFORCED=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:SMALL=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:TINY=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:ULTIMATE=2
    }

}


fluidhatch {

    tiny {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 100]
        I:size=10000
    }

    small {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 400]
        I:size=25000
    }

    normal {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 1000]
        I:size=50000
    }

    reinforced {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 2000]
        I:size=100000
    }

    big {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 4500]
        I:size=500000
    }

    huge {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 8000]
        I:size=1000000
    }

    ludicrous {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 16000]
        I:size=2500000
    }

    vacuum {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 32000]
        I:size=5000000
    }

}


general {
    # Defines the _default_ color for machine casings as items or blocks. (Hex color without alpha) Has to be defined both server and clientside! [default: FF4900]
    S:general-casing-color=FF4900
}


