# Configuration file

~CONFIG_VERSION: 1.1.0

butterfly {

    entities {
        # Butterflies will fly home if they are too far away from it. [range: 0 ~ 256, default: 64]
        I:maxDistance=64

        # New butterflies will stay in item form and will not take flight once this limit is reached. [range: 0 ~ 5000, default: 1000]
        I:maximum=1000

        # Allow butterflies to pollinate leaves. [default: true]
        B:pollination=true

        #  [default: true]
        B:spawn.leaves=true

        # Butterflies will stop natural spawning once this limit is reached. [range: 0 ~ 500, default: 100]
        I:spawn.limit=100
    }

    cocoons {
        #  [default: false]
        B:generate=false

        #  [range: 0.0 ~ 10.0, default: 1.0]
        S:generate.amount=1.0

        #  [range: 0.0 ~ 100.0, default: 0.0]
        S:second.serum=0.0

        #  [range: 0.0 ~ 100.0, default: 0.55]
        S:serum=0.55

        alleles {

            loot {
                # for.config.butterfly.alleles.loot
                S:forestry.cocoonDefault <
                    minecraft:string:0;0.25
                    minecraft:string:0;0.75
                    minecraft:string:0;1.0
                 >

                # for.config.butterfly.alleles.loot
                S:forestry.cocoonSilk <
                    forestry:crafting_material:2;0.25
                    forestry:crafting_material:2;0.75
                 >
            }

        }

    }

    alleles {
        # Get the butterfly spawn rarity by their uid, one per line.
        S:rarity <
            forestry.lepiAurora:0.5
            forestry.lepiBatesia:0.3
            forestry.lepiBlackSwallow:1.0
            forestry.lepiBlueDuke:0.5
            forestry.lepiBlueWing:0.3
            forestry.lepiBrimstone:1.0
            forestry.lepiCSpeckledWood:0.5
            forestry.lepiCabbageWhite:1.0
            forestry.lepiCitrusSwallow:1.0
            forestry.lepiComma:0.3
            forestry.lepiDianaFrit:0.6
            forestry.lepiEmeraldPeacock:0.1
            forestry.lepiGlasswing:0.1
            forestry.lepiGlassyTiger:0.3
            forestry.lepiGozoraAzure:0.2
            forestry.lepiLLacewing:0.7
            forestry.lepiMBlueMorpho:0.5
            forestry.lepiMSpeckledWood:0.5
            forestry.lepiMalachite:0.5
            forestry.lepiMonarch:0.2
            forestry.lepiPBlueMorpho:0.25
            forestry.lepiPalaenoSulphur:0.4
            forestry.lepiPostillion:0.5
            forestry.lepiPostman:0.3
            forestry.lepiRBlueMorpho:0.1
            forestry.lepiReseda:0.3
            forestry.lepiSpeckledWood:1.0
            forestry.lepiSpicebush:0.5
            forestry.lepiSpringAzure:0.3
            forestry.lepiThoasSwallow:0.2
            forestry.lepiZebraSwallow:0.5
            forestry.mothAtlas:0.1
            forestry.mothBombyxMori:0.0
            forestry.mothBrimstone:1.0
            forestry.mothLatticedHeath:0.5
         >
    }

}


